body {
  background-image: url("../images/pawel-czerwinski-BAiRfbt1HRE-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-opacity-dark {
  background-color: rgba(226, 226, 226, 0.849);
  border: solid black 2px;
}

.bg-opacity-secondary {
  background-color: rgba(129, 129, 129, 0.74);
}

.bg-opacity-tan {
  background-color: rgba(68, 68, 68, 0.822);
}
.container {
  max-width: 960px!important;
}

